<body class="bg-success">
    <h2 class="ps-3 pt-2">Productos</h2>
    <div class="row pt-2 ms-2" style="gap: 10px;" id="products">

  </div>
  </body>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/products.js"></script>
</html>